on:
  - push
  - pull_request
  - workflow_call

name: Continuous integration

env:
  # This is required because commands like `cargo check` do not
  # read the cargo development dependencies.
  # See https://github.com/Arnavion/k8s-openapi/issues/132
  K8S_OPENAPI_ENABLED_VERSION: "1.32"

jobs:
  check:
    name: Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Setup rust toolchain
        run: |
          rustup toolchain install stable --profile minimal 
          rustup override set stable
      - name: Run cargo check
        run: cargo check

  test:
    name: Test Suite
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Setup rust toolchain
        run: |
          rustup toolchain install stable --profile minimal 
          rustup override set stable
      - name: test with default features enabled
        run: cargo test
      - name: test with default features disabled
        run: cargo test --no-default-features

  fmt:
    name: Rustfmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Setup rust toolchain
        run: |
          rustup toolchain install stable --profile minimal 
          rustup override set stable
      - run: rustup component add rustfmt
      - name: Run cargo fmt
        run: cargo fmt --all -- --check

  clippy:
    name: Clippy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Setup rust toolchain
        run: |
          rustup toolchain install stable --profile minimal 
          rustup override set stable
      - run: rustup component add clippy
      - name: Run cargo clippy
        run: cargo clippy -- -D warnings

  doc:
    name: Build Documentation
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false
      - name: Rustup (nightly)
        run: |
          rustup install --profile minimal nightly
          rustup override set nightly
      - uses: Swatinem/rust-cache@98c8021b550208e191a6a3145459bfc9fb29c4c0 # v2.8.0
      - run: |
          make doc
